APP_NAME=OrientMaps
SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
VERIFY_TOKEN_EXPIRE_MINUTES=1440

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/orientmaps

FIRST_ADMIN_LOGIN=admin
FIRST_ADMIN_EMAIL=admin@example.com
FIRST_ADMIN_PASSWORD=admin12345

SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=no-reply@example.com
SMTP_USE_SSL=true
SMTP_USE_TLS=false
SMTP_TIMEOUT_SECONDS=20

USE_S3=false
S3_ENDPOINT_URL=https://storage.yandexcloud.net
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=ru-central1
S3_PUBLIC_BASE_URL=

LOCAL_UPLOAD_DIR=uploads
SITE_BACKGROUND_URL=https://storage.yandexcloud.net/orientmaps-archive/ui/site-background.jpg
DEFAULT_AVATAR_URL=https://i.pinimg.com/736x/bf/3a/5b/bf3a5beed53640cb39c307219a7d1837.jpg
PARSER_DAYS_BACK_DEFAULT=7
